.show-notification {
  margin-top: 28px;
  margin-bottom: 40px;
  padding: 12px;
  color: white;
  background-color: rgba(157, 196, 165, 0.6);
  border-radius: 8px;
  text: center;

  p {
    margin: 0px;
    text-align: center;
  }
}

.show-plant {
  display: flex;
  margin-top: 20px;
  margin-bottom: 88px;
  background-color: white;
  box-shadow: 3px 3px 10px #6a8d73;
}

.show-plant-tree {
  display: flex;
  margin-top: 20px;
  margin-bottom: 88px;
  background-color: white;
  box-shadow: 3px 3px 10px #6A8D73;
}

.show-plant-bush {
  display: flex;
  margin-top: 20px;
  margin-bottom: 88px;
  background-color: white;
  box-shadow: 3px 3px 10px #8c776a;
}

.show-plant-flower {
  display: flex;
  margin-top: 20px;
  margin-bottom: 88px;
  background-color: white;
  box-shadow: 3px 3px 10px #e5b7da;
}

.show-plant-cactus {
  display: flex;
  margin-top: 20px;
  margin-bottom: 88px;
  background-color: white;
  box-shadow: 3px 3px 10px #cca543;
}

.show-plant-image {
  width: 425px;
  height: 350px;
  object-fit: cover;
}

.edit-plant-image {
  width: 50%;
}

.show-info {
  position: relative;
  padding: 20px;
  width: 100%;
}

.show-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #6a8d73;
}

.show-description {
  margin-bottom: 10px;
}

.confirmation-message {
  position: absolute;
  bottom: 120px;
  color: #6a8d73;
  font-weight: bold;
}

.show-form {
  position: absolute;
  bottom: 20px;
}

.show-input label {
  width: 88px;
}

.show-input input {
  width: 52px;
  text-align: center;
}

.show-btns {
  display: flex;
  justify-content: space-between;
}

.show-cancel {
  width: 80px;
}

.show-submit {
  width: 52px;
}

.show-btn-color {
  background-color: rgba(157, 196, 165, 0.6);
}
