.user-bar {
  position: relative;
}

.user-info {
  align-items: center;
}

.user_home_btn {
  color: #F7F7F7;
  height: 50px;

  &:hover {
    color: white;
  }
}

.add-new-link {
  position: absolute;
  top: 30px;
  right: 10px;
}

.user_home_alert {
  color: gray;
}

.user_home_btns {
  padding-bottom: 8px;
  float: right;
}
