<footer class="footer">
  <small>
    <a href="http://lewagon.com/">Plantopia</a>This is the footer text
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://lewagon.com/">Lewagon!</a></li>
    </ul>
  </nav>
</footer>
