<footer class="footer">
  <small>
    <a href="http://lewagon.com/">Plantopia</a>Made by Agis*Jahaira*Jessica*Dee
  </small>
  <nav>
    <ul>
      <li>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i>></a>
      </li>
      <li>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="https://www.github.com/" target="_blank"><i class="fab fa-github-square"></i></a>
      </li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://lewagon.com/">Lewagon!</a></li>
    </ul>
  </nav>
</footer>
