.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  padding: 5px 5px;
}

.card-plant {
  box-shadow: 2px 2px 20px rgb(240, 240, 240);
  margin-bottom: 20px;
  background-color: white;
}

.card-plant-image {
  width: 100%;
  object-fit: cover;
}

.card-plant-info {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.card-plant-info-details h1, .card-plant-info-details p {
  margin: 0;
}

.card-plant-info-price {
  // margin: 15px 10px 0 0;
  align-self: flex-start;
}
