.cards-header {
  margin: 20px 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 50px;
}

.card-plant {
  box-shadow: 2px 2px 5px #6b9331;
  background-color: white;
}

.card-plant-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-plant-info {
  display: block;
  padding: 20px;
}

.card-plant-info-details {
  display: flex;
  justify-content: space-between;
}

.card-plant-info p {
  text-align: justify;
}

.card-plant-show-link a {
  text-decoration: none;
  color: #6b9331;
}
