// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";

h1 {
  color: #6a8d73;
}

.container a {
  text-decoration: none;
}

.form-search {
  padding-top: 20px;
}

.cards-header {
  margin-top: 25px;
  margin-bottom: 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 20px;
}

.card-plant {
  box-shadow: 3px 3px 10px #6a8d73;
  background-color: white;
}

.card-plant-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-plant-info {
  display: block;
  padding: 20px;
}

.card-plant-info-details {
  display: flex;
  justify-content: space-between;
  color: #6a8d73;
}

.card-plant-info p {
  text-align: justify;
}

.card-plant-show-link a {
  text-decoration: none;
  color: #6a8d73;
}

.show-all-link a {
  float: right;
}

.show-all-link {
  margin-top: 10px;
  margin-bottom: 50px;
}
