.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  flex-grow: 1;
  padding: 5px 5px;
}

.card-plant {
  box-shadow: 2px 2px 5px #30541f;
  margin-bottom: 20px;
  background-color: white;
}

.card-plant-image {
  width: 100%;
  object-fit: cover;
}

.card-plant-info {
  display: block;
  padding: 20px;
}

.card-plant-info-details {
  display: flex;
  justify-content: space-between;
}

.card-plant-info p {
  text-align: justify;
}
