.navbar {
  z-index: 10;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-right: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
  font-family: 'Libre Franklin', ;
  letter-spacing: 5px;
  font-size: 42px;
  opacity: 0.7;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 20px;
}

