<form action="" method="">
  <div>
    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" value="1" min="1" increment="1">
  </div>
  <div>
    <label for="total">Total</label>
    <input id="total" value="£<%= @plant.price %>" disabled>
  </div>
  <button type="submit">Buy</button>
</form>
